body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: #028080;
}

.inset {
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    margin: 0;
    padding: 2px;
}

.content {
    display: flex;
    gap: 8px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#grid {
    display: grid;
    width: 50vh;
    height: 50vh;
}

.pixel {
    background-color: #fff;
}

#color-picker {
    display: flex;
    padding: 6px 0px;
    gap: 3px
}

#colors-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px
}

#top,
#bottom {
    display: flex;
    gap: 3px
}

#selected-color {
    height: 39px;
    width: 39px;
}

.color {
    width: 16px;
    height: 16px;
}

#spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;
    height: 25vh
}

#rainbow{
    width: 16px;
    height: 16px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

select{
    text-align: center;
}